{{- $fullname := include "ggbridge.fullname" . -}}
{{- $namespace := ternary (default .Release.Namespace .Values.server.istio.gateway.namespace) .Release.Namespace .Values.server.istio.enabled -}}
{{- if and .Values.tls.certManager.enabled (not (hasKey .Values.tls.certManager.issuer.spec "vault")) -}}
  {{- if .Values.tls.certManager.issuer.spec }}
    {{- if hasKey .Values.tls.certManager.issuer.spec "selfSigned" -}}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ printf "%s-selfsigned" $fullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "%s-ca" $fullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  isCA: true
  commonName: {{ printf "%s-ca" $fullname }}
  secretName: {{ printf "%s-ca" $fullname }}
  duration: 87600h # 10 years
  privateKey:
    algorithm: RSA
    size: 2048
  issuerRef:
    name: {{ printf "%s-selfsigned" $fullname }}
    kind: Issuer
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ printf "%s-issuer" $fullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  ca:
    secretName: {{ printf "%s-ca" $fullname }}
    {{- else }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ printf "%s-issuer" $fullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  {{- include "ggbridge.certManager.issuer.spec" . | nindent 2 }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if hasKey .Values.tls.certManager.issuer.spec "vault" }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ printf "%s-issuer" $fullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  {{- include "ggbridge.certManager.issuer.spec" . | nindent 2 }}
{{- end }}
