{{- $deploymentCount := int (default 0 .Values.deploymentCount) -}}
{{- if and (eq .Values.mode "server") .Values.networkPolicy.enabled (gt $deploymentCount 0) }}
  {{- $fullname := include "ggbridge.server.fullname" . }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ $fullname }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ggbridge.labels" . | nindent 4 }}
    {{- include "ggbridge.server.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  podSelector:
    matchLabels:
      {{- include "ggbridge.selectorLabels" . | nindent 6 }}
      {{- include "ggbridge.server.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  egress:
    {{- if .Values.networkPolicy.extraEgress }}
    - ports:
        # Allow dns resolution
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
      {{- if .Values.networkPolicy.extraEgress }}
        {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.networkPolicy.extraEgress "context" . ) | nindent 4 }}
      {{- end }}
    {{- else }}
    - {}
    {{- end }}
  ingress:
    - ports:
        - port: {{ .Values.server.service.ports.ws.containerPort }}
          protocol: TCP
    - ports:
        {{- range $port, $value := .Values.proxy.service.ports }}
        - port: {{ $value.containerPort }}
          protocol: TCP
        {{- end }}
      {{- if not .Values.networkPolicy.allowExternal }}
      from:
        - podSelector:
            matchLabels:
              {{- include "ggbridge.selectorLabels" . | nindent 14 }}
        {{- if .Values.networkPolicy.ingressNSMatchLabels }}
        - namespaceSelector:
            matchLabels:
              {{- range $key, $value := .Values.networkPolicy.ingressNSMatchLabels }}
              {{ $key | quote }}: {{ $value | quote }}
              {{- end }}
          {{- if .Values.networkPolicy.ingressNSPodMatchLabels }}
          podSelector:
            matchLabels:
              {{- range $key, $value := .Values.networkPolicy.ingressNSPodMatchLabels }}
              {{ $key | quote }}: {{ $value | quote }}
              {{- end }}
          {{- end }}
        {{- end }}
    {{- end }}
    {{- if .Values.networkPolicy.extraIngress }}
    {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.networkPolicy.extraIngress "context" . ) | nindent 4 }}
    {{- end }}
{{- end }}
