{{- $deploymentCount := int (default 0 .Values.deploymentCount) -}}
{{- if and (eq .Values.mode "server") (gt $deploymentCount 0) -}}
  {{- $fullname := include "ggbridge.fullname" $ }}
  {{- $serverFullname := include "ggbridge.server.fullname" $ }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serverFullname }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ggbridge.labels" . | nindent 4 }}
    {{- include "ggbridge.server.labels" . | nindent 4 }}
  {{- with (include "ggbridge.server.service.annotations" $) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.server.service.type }}
  ports:
    {{- if and $.Values.tls.enabled (eq (include "ggbridge.server.trafficRouting.enabled" $) "false") }}
    - port: {{ $.Values.server.service.ports.wss.port }}
      targetPort: ws
      protocol: TCP
      name: wss
    {{- else }}
    - port: {{ $.Values.server.service.ports.ws.port }}
      targetPort: ws
      protocol: TCP
      name: ws
    {{- end }}
  selector:
    {{- include "ggbridge.selectorLabels" . | nindent 4 }}
    {{- include "ggbridge.server.selectorLabels" . | nindent 4 }}

  {{- range $index := until (.Values.deploymentCount | int) }}
    {{- $indexServerFullname := printf "%s-%d" $serverFullname ($index | int) }}
    {{- $indexServerProxyFullname := printf "%s-proxy-%d" $serverFullname ($index | int) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $indexServerFullname }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
    {{- include "ggbridge.server.labels" $ | nindent 4 }}
    index: {{ $index | quote }}
  {{- with (include "ggbridge.server.service.annotations" $) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  type: {{ $.Values.server.service.type }}
  ports:
    {{- if and $.Values.tls.enabled (eq (include "ggbridge.server.trafficRouting.enabled" $) "false") }}
    - port: {{ $.Values.server.service.ports.wss.port }}
      targetPort: ws
      protocol: TCP
      name: wss
    {{- else }}
    - port: {{ $.Values.server.service.ports.ws.port }}
      targetPort: ws
      protocol: TCP
      name: ws
    {{- end }}
  selector:
    {{- include "ggbridge.selectorLabels" $ | nindent 4 }}
    {{- include "ggbridge.server.selectorLabels" $ | nindent 4 }}
    index: {{ $index | quote }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $indexServerProxyFullname }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "ggbridge.labels" $ | nindent 4 }}
    {{- include "ggbridge.server.labels" $ | nindent 4 }}
    index: {{ $index | quote }}
  {{- if or $.Values.commonAnnotations $.Values.proxy.service.annotations }}
    {{- $annotations := include "ggbridge.tplvalues.merge" ( dict "values" ( list $.Values.proxy.service.annotations $.Values.commonAnnotations ) "context" . ) }}
  annotations: {{- include "ggbridge.tplvalues.render" (dict "value" $annotations "context" .) | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    {{- include "ggbridge.proxy.service.ports" $ | nindent 4 }}
  selector:
    {{- include "ggbridge.selectorLabels" $ | nindent 4 }}
    {{- include "ggbridge.server.selectorLabels" $ | nindent 4 }}
    index: {{ $index | quote }}
  {{- end }}
{{- end }}
