{{- if and .Values.tls.certManager.enabled (and (not (empty .Values.tls.certManager.issuer.spec)) (not (hasKey .Values.tls.certManager.issuer.spec "vault"))) -}}
  {{- $fullname := include "ggbridge.fullname" . -}}
  {{- $namespace := ternary (default .Release.Namespace .Values.server.istio.gateway.namespace) .Release.Namespace .Values.server.istio.enabled -}}
  {{- $clientFullname := include "ggbridge.client.fullname" $ -}}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ printf "%s-crt" $clientFullname }}
  namespace: {{ $namespace }}
  labels:
    {{- include "ggbridge.labels" . | nindent 4 }}
    {{- include "ggbridge.client.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "ggbridge.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" . ) | nindent 4 }}
  {{- end }}
spec:
  secretName: {{ printf "%s-crt" $clientFullname }}
  duration: {{ .Values.tls.certManager.certificate.duration }}
  renewBefore: {{ .Values.tls.certManager.certificate.renewBefore }}
  privateKey:
    algorithm: {{ .Values.tls.certManager.certificate.algorithm }}
    size: {{ .Values.tls.certManager.certificate.size }}
  commonName: {{ include "ggbridge.hostname" . }}
  usages:
    - client auth
  issuerRef:
    name: {{ default (printf "%s-issuer" $fullname) .Values.tls.certManager.issuer.name }}
    kind: {{ .Values.tls.certManager.issuer.kind }}
{{- end }}
